$grays: (
    'black': #000000,
    '100': #eeeeee,
    '200': #f5f5f5,
    '300': #e5e5e5,
    '400': #dddddd,
    '500': #e6e6e6,
    '700':#888,
    '800':#666,
    '900': #444,
    '1000':#222,
);


@each $gray, $color in $grays {
    .text-gray-#{$gray} {
        color: $color;
    }

    .bg-gray-#{$gray} {
        background-color: $color;
    }
}
