@each $gray, $color in $grays {
    .text-gray-#{$gray} {
        color: $color;
    }

    .bg-gray-#{$gray} {
        background-color: $color;
    }
}

.bg-white {
    background-color: $white;
}
.text-white {
    color: $white;
}
