$font-sizes: (
    0: 0.5rem,
    1: 0.625rem, // 10px
    2: 0.75rem, // 12px
    3: 0.875rem, // 14px
    4: 1rem,
    5: 1.5rem, // 24px
    6: 2rem // 32px
);

@each $sizePrefix, $size in $font-sizes {
    @each $breakpoint in map_keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            .text-#{$sizePrefix}#{if($breakpoint == xs, '', '-' + $breakpoint)} {
                font-size: $size;
            }
        }
    }
}


$font-weights: (
    '400': 400,
    '500': 500,
    '600': 600,
    '800': 800
);

@each $weight, $font-weight in $font-weights {
    .text-weight-#{$weight} {
        font-weight: $font-weight;
    }
}