.btn-wrapper {
    position: relative;
    display: inline-block;

    &::after {
        $size: 1px;
        content: ' ';
        position: absolute;
        top: -$size;
        left: -$size;
        right: -$size;
        bottom: -$size;
        background: linear-gradient(180deg, rgba(255,255,255, 0) 57.81%, #e3469a 100%);
        z-index: 1;
        border-radius: 10px;
    }

    .btn {
        font-size: inherit;
        position: relative;
        z-index: 2;
    }

    .btn:active {
        transform: translateY(2px);
    }
}
