.modal {

    .modal-dialog {
        margin: 0 auto;
        height: 100%;

        .modal-content {
            background: map_get($grays, '200');
            height: 100%;
            //min-height: 100vh;
            border-radius: 0;
            border: none;

            .modal-header {
                position: relative;
                text-align: center;
                justify-content: center;
                padding: 15px;
                border-radius: 0;
                border: 1px solid $modalBorder;
                z-index: 20;
                flex: 0 0 auto;

                .modal-title {
                    color: $black;
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 32px;
                }

                .close {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: auto;
                    margin: auto;
                    opacity: 1;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .modal-body {
                padding: 20px 10px;
                overflow: auto;
            }
        }
    }

    &.right-icon {
        .modal-header {
            .close {
                right: 0 !important;
                left: auto !important;
            }
        }
    }


    $animation-duration: 200ms;
    &.fade {
        transition: all $animation-duration;
        animation: swipe-down $animation-duration linear;
    }

    &.show {
        transition: all $animation-duration;
        animation: swipe-up $animation-duration linear;
    }

    @include media-breakpoint-up(md) {
        .modal-dialog {
            margin: 0 auto;
            height: 80vh;
            top: 50%;
            transform: translateY(-50%) !important;
            width: 450px;
        }
    }
}

.modal-backdrop {
    transition: all 350ms linear;
}

@keyframes swipe-up {
    0% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes swipe-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80%);
    }
}
