.modal {
    .modal-dialog {
        margin: 0;

        .modal-content {
            height: 100%;
            min-height: 100vh;
            border-radius: 0;
            border: none;

            .modal-header {
                position: relative;
                text-align: center;
                justify-content: center;
                padding: 15px;
                border-radius: 0;
                border: 1px solid $modalBorder;

                .modal-title {
                    color: $black;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 32px;
                }

                .close {
                    position: absolute;
                    top: 0;
                    left: auto;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    opacity: 1;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .modal-body {
                padding: 20px 10px;
            }
        }
    }

    &.fade {
        transition: all 0.3s;
        animation: swipe-down 350ms linear;
    }

    &.show {
        transition: all 0.3s;
        animation: swipe-up 350ms linear;
    }
}

.modal-backdrop{
    opacity: 0;
    transition: all 350ms linear;
}

@keyframes swipe-up {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes swipe-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1000px);
    }
}
