@import '~bootstrap/scss/functions';
$primary: #472086;
$secondary: #666666;
$info: #dd418a;
$grid-gutter-width: 20px;
$black: #444444;
$grayColor: #999999;
$lightGrayColor: #eeeeee;
$darkGrayColor: #666666;
$borderColor: #dddddd;
$modalBorder: #e6e6e6;

$body-bg: #f5f5f5;

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
