@import "~bootstrap/scss/functions";
$primary: #472086;
$secondary: #666;
$info: #dd418a;
$whiteColor: #fff;
$grid-gutter-width: 20px;
$backgroundColor: #f5f5f5;
$blackColor: #444;
$grayColor: #999;
$lightGrayColor: #eee;
$darkGrayColor: #666;
$borderColor: #ddd;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
