@import 'vars';
@import 'reboot';
@import 'bootstrap';
@import '~bootstrap-vue/src/index';
@import 'fonts';
@import 'svg-icons';
@import 'forms';
@import 'modal';
@import 'buttons';
@import 'toast';
@import 'vue-transitions';
@import 'page-transitions';
@import 'utilities/index';

//html, body, #__nuxt, #__layout {
//    height: 100%;
//}

html, body, #__nuxt, #__layout {
    height: 100%;
    width: 100%;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        background-image: url('../images/bg1.jpg');
        background-repeat: no-repeat;
        background-position: bottom left;
        object-fit: cover;
    }
}

#__layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-raw {
    appearance: none;
    background: none;
    outline: none !important;
    border: 0;
    color: inherit;
}

.link-inherit {
    color: inherit !important;
    text-decoration: inherit !important;
}


.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.b-toast {
    .toast-header {
        button {
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            margin-right: auto;
        }
    }
}

.tabs {
    .nav {
        padding: 10px 10px 0 10px;
        border: none;
        background: #f5f5f5;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);

        .nav-item {
            flex: 1;
            text-align: center;
            border: none;

            .nav-link {
                font-size: 0.875em;
                font-weight: 500;
                color: map_get($grays, '800');
                border: none;

                &:focus, &:active, &:hover, &.active {
                    border-left: none;
                    border-top: none;
                    border-right: 0;
                    border-bottom: 2px solid $primary;
                    font-weight: 600;
                    color: $primary;
                }
            }
        }
    }
}

.font-weight-medium {
    font-weight: 500;
}

// Validation Error Style
.validation-alert {
    font-size: 0.75rem;
    color: $secondary;
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}


@keyframes flash {
    50% {
        opacity: 0.5;
    }
}

