@import 'vars';
@import 'reboot';
@import 'bootstrap';
@import '~bootstrap-vue/src/index';
@import 'fonts';
@import 'svg-icons';
@import 'forms';
@import 'modal';

body {
    font-family: Dana, Roboto, Tahoma, serif;
}

.en {
    font-family: Roboto, Tahoma, serif;
}

.btn-raw {
    appearance: none;
    background: none;
    outline: none !important;
    border: 0;
}

.link-inherit {
    color: inherit !important;
    text-decoration: inherit !important;
}


.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.b-toast{
    .toast-header{
        button{
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            margin-right: auto;
        }
    }
}
